/*darkmode css*/
/*With Material Grey color pallette
*
*   #212121 (off black for background items) 900
*   #42424 (dark grey) 800
*   #616161     700
*   #757575     600
*   #9e9e9e (grey)  500
*   #bdbdbd     400
*   #e0e0e0     300
*   #eeeeee     200
*   #f5f5f5 (off white primarily used)  100
*   #fafafa     50
*
*/

a, #boost-campus-course-settings .card-body a, .ui-widget-content a, .btn-link, 
.inplaceeditable .quickeditlink, .list-group-item-action, #page-header .course-head .instructors .teacherlist a {
    color: #f5f5f5;
 }

 .course-content a:visited {
    color: #f5f5f5;
}

 .editing .course-content a:visited {
    color: #f5f5f5;
}

 .gitblock_timeline .list-group-item-action:hover {
    background-color: #616161;
    color: #f5f5f5;
 }

 .block_timeline .list-group-item:hover {
    background-color: #616161;
 }

 body, .custom-select {
    background-color: #616161;
 }

 .custom-select {
    color: #efede7!important;
    border: 1px solid #333 !important;
    background-color: #616161;
}

 ol.checklist .itemblack, .block_writinghelp .card-text a h4, .popover-body,
 .dropdown-menu.show .dropdown-item a, #page-header .course-head a .page-context-header .page-header-headings h1,
 #page-header h1 a, .popover-region-container {
    color: #f5f5f5;
 }

 #page-header .course-head a:hover .page-context-header .page-header-headings h1 {
     color:#f5f5f5;
 }

 .text-primary {
     color:inherit!important;
 }

 /*Need to add a bg to red text to keep contrast ratio up*/
 .checklist-itemoverdue {
    color: #950F0F;
    letter-spacing: 1px;
    margin-left: 5px;
    padding-right: 2px;
    background-color: #EBEBEB;
}

/*border changes*/
.nav-tabs, .nav-tabs .nav-link.active, .block-course-overview .courseovbox, .input-group-text,
.border-bottom, .btn-outline-secondary, .btn-outline-primary, .nav-tabs .nav-link:hover,
.course-content ul.topics li.section.main, .card-body, .generaltable thead th, .dropdown-divider,
.tour-actions > ul > li, .mform fieldset, #page-header .card, .fp-iconview .fp-thumbnail img,.fp-iconview .fp-thumbnail {
    border-color: rgba(10, 10, 10, 0.25)!important;
}

.block .block-cards .course-summaryitem, .content-item-container, .popover-region-header-container, .popover-region-container {
    border-color: rgba(10, 10, 10, 0.25);
}

/* too greedy
#page-header i {
    color: rgba(10,10,10,0.5) !important;
}
*/

#page-header .page-navbkg {
    color: #757575;
}
.page-navbkg a {
    color: #757575;
}

.page-navbkg a:hover {
    color: #9e9e9e;
}
.page-navbkg .breadcrumb-item+.breadcrumb-item::before {
    color: #757575;
}

#page-header .course-head {
    background-color: rgba(10,10,10,.5);
}

.path-grade-report-grader .gradeparent table, .page-link, .generaltable th, .generaltable td {
    border-color: rgba(10, 10, 10, 0.5)!important;
}

.img-thumbnail {
    border-color: rgba(10, 10, 10, 0.5);
    background-color: rgba(10, 10, 10, 0.25);
}

table, table td, table tr, table th, .forumpost, .path-mod-feedback table.analysis,
 .path-mod-forum article .nav .nav-link + .nav-link {
    border-color: rgba(10, 10, 10, 0.25)!important;
}

.dropdown-item.active {
    background-color: #636363;
    color: #f5f5f5;
}

.dropdown-item {
    color: #f5f5f5;
}

.checklistreport .cell.level0,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd,
.choosercontainer #chooseform .submitbuttons, .form-control {
    background-color: #3a3a38;
}

.checklistreport .header, .bs-popover-right, .bs-popover-top, .bs-popover-left, .bs-popover-bottom{
    background-color: #3a3a3b;
}

 .path-mod-assign .gradingtable tr.unselectedrow td, .que .info,
 .preferences-container tr td:nth-child(odd) .container-fluid, #frontpage-available-course-list,
 #page-my-index, .choosercontainer #chooseform .selected, .jschooser .choosercontainer #chooseform .typesummary  {
    background-color: #424242;
 }
.list-group-item, #dataTable_info, #dataTable_filter, #dataTable_length {
    color: #f5f5f5;
    background-color: #424242;
    letter-spacing: 0.5px; 
}

/*class colour swaps*/
.bg-dark {
    background-color: #424242 !important;
}

.simplesearchform .btn-submit{
    color: #f5f5f5;
    background-color: #848889 !important;
    border-color: #848889 !important;
}
.close {
    float: right;
    font-size: 1.40625rem;
    font-weight: 700;
    line-height: 1;
    color: #848889!important;
    text-shadow: 0 1px 0 #f5f5f5;
    opacity: .5;
}

.optionaction:hover{
    background-color: #1b1b1b!important;
}

.optionaction:active{
    background-color: #1b1b1b!important;
}

.text-muted {
     color: #f5f5f5!important; 
}

.optionname{
    color: #e2d2a2;
}

.section-modchooser-link:hover{
    color: #d9b945;
}

.section-modchooser-link, a.tiles-summary-edit {
    background: #474541;
    border-color: rgba(10, 10, 10, 0.25);
    color: #ffdaa9 !important;
}

.path-mod-assign [data-region="grade-panel"] .fitem.has-popout {
    background-color: #848889; 
    border: 1px solid rgba(107, 107, 107, 0.125);
}

.path-mod-assign [data-region="grade-panel"] .gradingform_rubric .criterion .levels .level.checked {
    background-color: #dff0d8;
    color: #848889!important;
    border: none;
    border-left: 1px solid #ddd;
}
.path-mod-assign [data-region="grade-panel"] .gradingform_rubric.evaluate .criterion .levels .level:hover {
    color: #848889!important;
}

.levels, .levels:hover{
    color: #848889!important;
}
.gradingform_rubric .criterion.even {
    background: #474541;
}

.path-mod-assign [data-region="grade-panel"] .gradingform_rubric .criterion .levels {
    background-color: #424242;
}

.ajax-contact-button, #message-user-button {
    color: #e2d2a2;
}
.ajax-contact-button:hover , #message-user-button:hover{
    color: #d9b945;
}

dt {
    font-weight: 700;
    color: #f5f5f5;
    margin-top: 5px;
}

@media (max-width: 991.98px){
    .simplesearchform .collapse.show, .simplesearchform .collapsing {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        background-color: #424242;
        z-index: 1060;
        height: 50px;
    }
}

.dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .8203125rem;
    color: #f5f5f5 !important;
    white-space: nowrap;
}

.alert-warning {
    color: #654922;
    background-color: #f7d5a4;
    border-color: #fbe8cd;
}

.btn-primary, #toggle-sections .btn.btn-primary {
    color: #f5f5f5;
    background-color: #848889 !important;
    border-color: #848889 !important;
}
.sectionhead.toggle.toggle-arrow {
    background-color: #d2d0cb !important;
}

.btn.btn-secondary {
    color: #f5f5f5;
    background-color: #424242;
    border-color: #212121;
}

.btn.btn-secondary:hover{
    color: #f5f5f5;
    background-color: #424242;
    border-color: #212121;
}

.bg-secondary {
    background-color: #252525!important;
}

#page-course-view-tiles .expand-collapse-all-btns .btn.btn-secondary{
    color: #212529 !important;
}
#page-course-view-tiles .expand-collapse-all-btns {
    background-color: #f5f5f5;
}

.card-title.d-inline {
    letter-spacing: .7px;
    color: #fff1c7;
 }

.courseovbox, .block .block-cards .course-summaryitem, .path-course-view .unread,
span.unread, .tour-actions > ul > li {
    background-color: #3a3936;
}

.courseovbox.row-fluid a  {
   color: #f5f5f5!important;
}

.courseovbox.row-fluid {
 color: #f5f5f5;
}

.bs-popover-top {
    background-color: #2f2d29;
}

.popover-header {
    background-color: #d9b945;
    color: #1d1c1a;
    font-weight: 600;
    border-bottom-color: #e5e3e8;
}

.calendar_event_site {
    background-color: #4ab72e;
}

.calendar_event_category {
    background-color: #ff4cff;
}

.calendar_event_course {
    background-color: #ff935d;
}

.calendar_event_group {
    background-color: #fffa74;
}

.calendar_event_user {
    background-color: #0edcda;
}

td.day.text-center.today a {
    color: #ffc14f;
}
td.day.text-center.today {
    border: 1px solid #e2d2a2;
}

td.day.text-center.hasevent a, 
.course-img-uploader-container .course-image-uploader,
.course-content ul.ctopics li.section .content .toggle a {
    color: #212121;
}

.block .card-body, .card, .callout, .pagelayout-embedded #page, .file-picker .fp-content,
.file-picker .fp-navbar, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.jschooser .choosercontainer #chooseform .instruction, .remark, textarea {
    border-color: rgba(10, 10, 10, 0.25);
    background-color: #424242;
    color: #f5f5f5!important;
}

.jschooser .choosercontainer #chooseform .alloptions {
    background-color: #3a3a3b;
}

.choosercontainer #chooseform .option label {
    border-color: rgba(10, 10, 10, 0.25);
    letter-spacing: .01rem;
}

.card-title.d-inline {
    letter-spacing: .5px;
    color: #fff1c7;
 }

#page.container-fluid {
    background-color: #212121;
}

.course-content ul.topics li.section.main.current {
    background: #3c3934;
}

.contentwithoutlink, .contentafterlink .isrestricted {
    color: #f3eefb; 
}

.coursebox {
    background-color: #2f2d29;
}

.dropdown-item.menu-action{
    background-color: #4d4d4f;
    color: #f5f5f5;
}


div.editor_atto_toolbar {
	background-color: #737373;
    border: 1px solid #333 !important;
}
div.editor_atto_toolbar button {
	background-color: #a1a1a1;
}

div.editor_atto_toolbar button .icon {
	color: #333;
}

.editor_atto_toolbar button:hover {
    background-image: radial-gradient(ellipse at center,#cdcdcd 60%,#a0a0a0 100%);
    background-color: #aaa;
}

.editor_atto_toolbar button:active, .editor_atto_toolbar button.highlight {
    background-image: radial-gradient(ellipse at center,#ddd 40%,#bbb 100%);
    background-color: #a1a1a1;
}

div.editor_atto_toolbar button + button {
    border-left: 1px solid #333;
}

div.editor_atto_toolbar div.atto_group {
	background: #666;
    border: 1px solid #333;
    border-bottom: 1px solid #333;
}

div.editor_atto_toolbar div.atto_group button:first-child {
	border-radius: 4px 0 0 4px;
}
div.editor_atto_toolbar div.atto_group button:last-child {
	border-radius: 0 4px 4px 0;
}

div.editor_atto_toolbar div.atto_group button:only-child {
	border-radius: 4px;
}

.editor_atto_notification .atto_info {
    background-color: #737373;
}

.editor_atto_content_wrap, .editor_atto + textarea {
    border: solid 1px #333;
    background-color: #3a3a38;
}

.CodeMirror {
	color: #f5f5f5;
    background: #333;
}

.CodeMirror-gutters {
	background-color: #999;
	border-color: #666;
}

.CodeMirror-linenumber {
	color: #666;
}

.filemanager .filemanager-container {
    background-color: #3a3a38 !important;
    color:#212121 !important;
	border: 1px solid rgba(10, 10, 10, 0.25) !important;
}

.filemanager .filemanager-toolbar {
    background-color: #737373 !important;
}
.filemanager .fp-pathbar {
    background-color: #8c8c8c !important;
}

.filemanager .btn.btn-secondary {
    background-color: #a1a1a1;
    border-color: #545454;
}

.filemanager .fp-toolbar .btn.btn-secondary {
	border-radius: 4px;
}

.filemanager .fp-viewbar .btn.btn-secondary:first-child {
	border-radius: 4px 0 0 4px;
}
.filemanager .fp-viewbar .btn.btn-secondary:last-child {
	border-radius: 0 4px 4px 0;
}

.filemanager .fp-viewbar:not(.disabled) a.checked:not(:disabled):not(.disabled) {
	background-color: #bababa;
	border-color: #545454;
}

.form-control, .form-control:focus, #conversation-actions-menu {
    color: #f5f5f5!important;
}

.form-control {
	border: 1px solid #333 !important;
}

.form-control:focus {
	background-color: #33322f !important;
}

.font-italic {
    letter-spacing: .03em;
}
.message-drawer .text-muted {
    color: #f5f5f5 !important;
}

span[data-flexitour="container"][x-placement="top-start"] div[data-role="arrow"]::after {
    color:#424242!important;
    border-top-color: #424242!important;
    border-bottom-color: rgba(10, 10, 10, 0.25);
}

span[data-flexitour="container"][x-placement="bottom-start"] div[data-role="arrow"]::after {
    color:#424242!important;
    border-bottom-color: #424242!important;
    border-top-color: rgba(10, 10, 10, 0.25);
}

span[data-flexitour="container"][x-placement="left-start"] div[data-role="arrow"]::after {
    color:#424242!important;
    border-right-color: #424242!important;
    border-left-color: rgba(10, 10, 10, 0.25);
}

span[data-flexitour="container"][x-placement="left-start"] div[data-role="arrow"]::after {
    color:#424242!important;
    border-left-color: #424242!important;
    border-right-color: rgba(10, 10, 10, 0.25);
}

.format-site, .path-mod-assign [data-region="grade-actions-panel"], .path-mod-assign [data-region="grading-navigation-panel"] {
    background-color: #212121;
    color: #f5f5f5;
    border-color: rgba(10, 10, 10, 0.25);
}

.path-mod-assign div.submissionstatus {
    background-color: #999;
}

.logininfo {
    margin-top: 1px;
}

.fp-iconview .fp-filename-field .fp-filename {
    background: #3e3e3c;
}
.invalid-feedback, .text-danger {
    color: #f87772;
    letter-spacing: .02rem;
}

.form-control.is-invalid {
    border-color: #fc534d;
    border-width: medium;
}
.modal-content, .modal-footer, .modal-header, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1 {
    background-color: #424242;
    color: #f5f5f5;
    border-color: rgba(10, 10, 10, 0.25)!important;
}

.nav-tabs .nav-link.active {
    color: #2f2d29;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.oubloglmt, .section .activity .availabilityinfo, .path-mod-workshop .userplan dt,
.path-mod-workshop .userplan dd, .path-mod-workshop .userplan dd a, 
.path-mod-workshop .userplan dd a:link {
    color: #f5f5f5; 
}

.overlay-icon-container,  .bg-pulse-grey, .mymedia.mm-media.entry:hover{
    background-color: rgba(47, 45, 41, 0.64);
}

.overview-description {
    color: #f5f5f5;
}

/* configurable report*/
#page-blocks-configurable_reports-viewreport .generaltable th.header {
    background-color: #737373;
    border-bottom-width: 2px;
}

/*table colors*/
.path-grade-report-grader .gradeparent tr .cell,
.path-grade-report-grader .gradeparent .floater .cell,
table.dataTable tr.odd, .path-mod-workshop .userplan dd,
table.dataTable tr.odd td.sorting_1, .courses .coursebox.even,
.mod_turnitintooltwo .top.listbar.clearfix {
    background-color: #3c3934 !important;
}
.submissionsDataTable .odd {
    background: #3c3934!important;
}

.submissionsDataTable .even {
    background: #4d4d4f!important;
}
.path-grade-report-grader .gradeparent tr:nth-of-type(even) .cell,
.path-grade-report-grader .gradeparent .floater tr:nth-of-type(even) .cell,
table.dataTable tbody tr.even, .path-mod-workshop .userplan, .dropdown-menu,
.popover-region-container, .popover-region-footer-container, .path-mod-assign [data-region="grade-panel"] {
    background-color: #4d4d4f;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #585856;
}

.path-grade-report-grader .gradeparent .cell, .border-secondary, .list-group-item {
    border-color: rgba(0,0,0,.125)!important;
}

.path-mod-attendance .attreport .contrast, blockquote {
    background-color: #6f6e6b;
}

.path-mod-assign td.submissionnotgraded {
    background-color: #f5f5f5;  
}

#categoryquestions > tbody > tr:nth-of-type(even) {
    background: #585856;
}

body.path-mod-quiz .gradedattempt, body.path-mod-quiz table tbody tr.gradedattempt>td{
    border-color: #585856 !important;;
    background-color: #585856 !important;;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight, 
.path-mod-quiz #mod_quiz_navblock .qnbutton {
    background-color: #dad8ce;
}
.path-mod-quiz #mod_quiz_navblock .qnbutton.answersaved .trafficlight {
    background-color: #938696;
}
#page-question-type-multichoice{
    background-color: #424242 !important;
}
#page-question-type-multichoice div[id^=fitem_id_][id*=fraction_]{
    background-color: #424242 !important;
}
body#page-question-type-multichoice div[id^=fitem_id_][id*=answer_]{
    background-color: #424242 !important;
}
body#page-question-type-multichoice div[id^=fitem_id_][id*=feedback_]{
    background-color: #424242 !important;
}
body#page-question-type-calculated div[id^=fgroup_id_][id*=answeroptions_], body#page-question-type-calculatedmulti div[id^=fgroup_id_][id*=answeroptions_] {
    background-color: #424242;
}
body#page-question-type-calculated div[id^=fgroup_id_][id*=answertolerance_], body#page-question-type-calculated div[id^=fgroup_id_][id*=answerdisplay_], body#page-question-type-calculatedmulti div[id^=fgroup_id_][id*=answertolerance_], body#page-question-type-calculatedmulti div[id^=fgroup_id_][id*=answerdisplay_] {
    background-color: #424242;
}
body#page-question-type-calculated div[id^=fitem_id_][id*=feedback_], body#page-question-type-calculatedmulti div[id^=fitem_id_][id*=feedback_] {
    background-color: #424242;
}
body#page-question-type-calculated div[id^=fgroup_id_][id*=answertolerance_], body#page-question-type-calculated div[id^=fgroup_id_][id*=answerdisplay_], body#page-question-type-calculatedmulti div[id^=fgroup_id_][id*=answertolerance_], body#page-question-type-calculatedmulti div[id^=fgroup_id_][id*=answerdisplay_] {
    background-color: #424242;
}
body#page-question-type-calculatedsimple div[id^=fgroup_id_][id*=answeroptions_] {
    background-color: #424242;
}
body#page-question-type-calculatedsimple div[id^=fgroup_id_][id*=answertolerance_], body#page-question-type-calculatedsimple div[id^=fgroup_id_][id*=answerdisplay_] {
    background-color: #424242;
}
body#page-question-type-calculatedsimple div[id^=fitem_id_][id*=feedback_] {
    background-color: #424242;
}
body#page-question-type-ddmarker div[id^=fitem_id_][id*=hint_] {
    background-color: #424242;
}
body#page-question-type-numerical div[id^=fgroup_id_][id*=answeroptions_] {
    background-color: #424242;
}
body#page-question-type-numerical div[id^=fitem_id_][id*=feedback_] {
    background-color: #424242;
}
body#page-question-type-shortanswer div[id^=fgroup_id_][id*=answeroptions_] {
    background-color: #424242;
}
body#page-question-type-shortanswer div[id^=fitem_id_][id*=feedback_] {
    background-color: #424242;
}
body#page-question-type-match div[id^=fitem_id_][id*=subquestions_] {
    background-color: #424242;
}
body#page-question-type-match div[id^=fitem_id_][id*=subanswers_] {
    background-color: #424242;
}
body#page-question-type-multichoiceset div[id^=fitem_id_][id*=answer_] {
    background-color: #424242;
}
body#page-question-type-multichoiceset div[id^=fitem_id_][id*=feedback_]{
    background-color: #424242;
}
body#page-question-type-ddimageortext div[id^=fgroup_id_][id*=drags_]{
    background-color: #424242;
}
body#page-question-type-ddimageortext div[id^=fitem_id_][id*=dragitem_]{
    background-color: #424242;
}
body#page-question-type-ddimageortext div[id^=fitem_id_][id*=draglabel_]{
    background-color: #424242;
}

body#page-question-type-jme div[id^=fitem_id_][id*=fraction_], body#page-question-type-jme #fitem_id_addanswers + .fitem + .fitem, body#page-question-type-jme div[id^=fitem_id_][id*=feedback_], body#page-question-type-jme div[id^=fitem_id_][id*=otherfeedback]{
    background-color: #424242;
}

.form-autocomplete-suggestions {
    background-color: #424242;
    border: 2px solid #f5f5f5;
}

#page-mod-quiz-edit ul.slots li.section .content {
    background-color: #424242 !important;
}

#page-mod-quiz-edit ul.slots li.section li.activity .instancemaxmarkcontainer {
    background: #6f6e6b;
}

#page-mod-quiz-edit ul.slots li.section li.activity{
    background-color: #6f6e6b;
}

table.quizreviewsummary td.cell {
    background: #3a3a38;
}

table.quizreviewsummary th.cell {
    background: #3a3a38;
}

.que.essay .qtype_essay_response.readonly {
    background-color: #3a3a38;
    color: #efede7!important;
}

#page-mod-quiz-edit #categoryquestions .questionname, #page-mod-quiz-edit ul.slots li.activity div.activityinstance .questionname {
    color: #e2d2a2;
}
#page-mod-quiz-edit ul.slots li.activity div.activityinstance .questiontext {
    color: #e2d2a2;
}
#page-mod-quiz-edit .section .activity .actions {
    background-color: transparent;
}

#page-mod-quiz-edit .slotnumber {
    background: #3a3a38;
}

.searchoptions{
    color: #f5f5f5!important;
    border: 1px solid #333 !important;
    background-color: #3a3a38
}
.pagination .page-link,
#boost-campus-activity-settings .tab-content .card, 
#boost-campus-course-settings .tab-content .card  {
    background-color: #6f6e6b;
    color: #fffce2;
}

.pagination .active .page-link,
#boost-campus-activity-settings .nav-tabs .active,
#boost-campus-course-settings .nav-tabs .active {
    background-color: #dad8ce;
    border-color: #dad8ce;
    color: #383736;
}

.preferences-container .preference-table tr th:nth-child(even), .preferences-container .preference-table tr td:nth-child(even),
.preferences-container tr td:nth-child(even) .container-fluid, table.dataTable tr.even td.sorting_1  {
    background-color: #6e6f6b;
}

.summary, .dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length,
.btn-outline-secondary, .btn-outline-primary {
    letter-spacing: .5px;
    color: #f5f5f5!important;
}

.table, table.collection, table.flexible, .generaltable{
    color: #f5f5f5!important;
}

.table:hover, table.collection:hover, table.flexible:hover, .generaltable:hover{
    color: #f5f5f5!important;
}
.tag-info {
    background-color: #bd8a00;
    color: #121212;
}

.block_heatmap_heat_0 a,  .block_heatmap_heat_1 a, .block_heatmap_heat_2 a, .block_heatmap_heat_3 a,
.block_heatmap_heat_4 a{
    color: #2b1010!important;
}

.block_heatmap_heat_0, .block_heatmap_heat_1, .block_heatmap_heat_2, 
.block_heatmap_heat_3, .block_heatmap_heat_4 {
    color:#121212 ;
}

.ur_resub_msg {
    color: #1f1e1a!important;
}

.text-info, .highlight {
    color: #bd8a00!important;
}

ul.oublog-accordion li {
    background-color: #424242;
    color: #f5f5f5;
    border-color:  rgba(10, 10, 10, 0.25);
}

.oublog-post-content, .description.card-block {
    margin-left: 7px;
    margin-right: 3px;
}

.userprofile .profile_tree section {
    background-color: #383736;
}

/*id based colour swaps*/

#intro, .oublog-post.oublog-odd, .path-mod-mediagallery .gallery_list_item,
.path-mod-mediagallery .gallery_list_item .title {
    background-color: #383736;
    letter-spacing: 0.5px;
    border-left-color: #f5f5f5;
}

#page-wrapper {
    background-color: #212121;
}

#nav-drawer, .message-drawer, .bg-light, .bg-white {
    background-color: #212121!important;
    color: #f5f5f5;
}
.message-app {
    background-color: #454342 !important;
}
.message-drawer .bg-secondary {
    background-color: #454342 !important;
}
.message-drawer .message.send .tail {
    border-bottom-color: #454342;
}

.message-drawer .bg-white {
    background-color: #565352 !important;
}

.message-drawer .message.received .tail {
    border-bottom-color: #565352;
}

.message-drawer .border-top {
    border-color: #333 !important;
}

.message-drawer .bg-pulse-grey {
    color: rgba(10, 10, 10, 0.85)!important; 
}

#region-main, .region_main_settings_menu_proxy, .ui-widget-content,
[data-fieldtype="modgrade"], .format-tiles #page .course-content ul li.section.main, .format-tiles .course-content .section {
    background-color: #424242;
    color: #f5f5f5;
}

.format-tiles li.activity.subtile {
    background-color: #4a4a48;
    color: #f5f5f5;
    border-color:  rgba(10, 10, 10, 0.25);
}
.format-tiles .course-content ul.tiles .tile {
    box-shadow: 2px 4px 5px 0 #3c3737;
    background-color: rgba(83, 75, 70, 0.1)!important;
}
.format-tiles .course-content ul.tiles .tile_bar {
    background-color: rgba(83, 75, 70, 0.1)!important;
}
.format-tiles .section li.activity.label h1, .format-tiles .section li.activity.label h2, .format-tiles .sectiontitle h2,
.format-tiles .section li.activity.label h3, .format-tiles ul.tiles .tile h3, 
.format-tiles .section li.activity.label h4, .format-tiles .tile_bar .inplaceeditable a,
.format-tiles li.activity.subtile a, .format-tiles #page-content li.activity.subtile a, 
.format-tiles ul.tiles .tile_bar, .format-tiles li.activity.subtile .activitytype, .format-tiles .course-content .icon,
.format-tiles .progress-indic .progress-indic-label {
    color: #f5f5f5!important;
}
.format-tiles li.activity.subtile .activitytitle a {
    background-image: linear-gradient(to bottom,rgb(74, 74, 72) 85%,rgb(72, 72, 70));
}

.format-tiles .progress-indic svg text {
    fill: #dedbdb;
}
.format-tiles.editing .section .activity.subtile .action-menu{
    background-color: #4a4a48;
}

.format-tiles.editing .subtiles li.activity.label {
    border-color: rgba(10, 10, 10, 0.25); 
}
.format-tiles .expand-collapse-all-btns {
    margin-right: .5rem;
    margin-top: .5rem;
}
a.editsumm {
    margin-left: 1rem;
}
.group.callout, div[class*="_block_callout"], 
table[class*="_block_callout"], div[class*="generic_large_callout"], 
table[class*="generic_large_callout"], div[class*="generic_small_callout"], 
table[class*="generic_small_callout"] {
    border-color: rgba(10, 10, 10, 0.25);
    background-color: #424242;
    color: #f5f5f5!important;
}

.callout-blue {
    background-color: #c1d9ed;
    border-color: #0766b7;
    color: #373a3c;
}

.callout-yellow{
    background-color: #feefc3;
    border-color: #f90;
    color: #373a3c;
}

.callout-aqua {
    background-color: #359aae;
    color: #f5f5f5;
}

/*psuedo classes*/
a:hover {
    color: #d9b945;
 }

 #boost-campus-course-settings .card-body a:hover {
    color: #d9b945;
    background-color: #6f6e6b;
 }
 a:not([href]):not([tabindex]) {
    color: #373a3c;
}

 .dropdown-item:hover, .list-group-item:hover, .list-group-item:active ,.list-group-item:focus {
    background-color: #757575;
    color: #f5f5f5;
 }

 .path-mod-feedback table.analysis tr:hover {
    background: #757575;
 }

 .page-link:hover {
    color: #5e6162;
    background-color: #f5f5f5;
    border-color: #dee2e6;
}

tr:hover{
    background-color: #757575;
    color: #f5f5f5;
}

/*decorated text spacing for easier readability*/
i, b, .teachers {
    letter-spacing: .5px;
} 

a.rubric_manager_launch, a.quickmark_manager_launch {
    color: #4ac3ff!important;
    background:#424242;
}

.gm-blue {
    color: #4ac3ff!important; 
}

.submissionsDataTable .odd .sorting_1 {
    background: #424242!important;
}

.submissionsDataTable .even .sorting_1 {
    background: #6f6e6b!important;
}

.ui-widget-content {
    background: #424242;
}

.mod_turnitintooltwo #refresh_1.refresh_link, 
.mod_turnitintooltwo #nonsubmitters_1.nonsubmitters_link, 
.mod_turnitintooltwo a.messages_inbox, .mod_turnitintooltwo #download_links {
    margin-left: 8px;
}

.submissionsDataTable {
    border: 1px solid #f5f5f5;

}

table.dataTable.no-footer {
    border-bottom: 1px solid #2f2d29;
}

.ui-widget-header {
    background: #fff1c7!important;
}
.ui-state-active, .ui-widget-content .ui-state-active,
 .ui-widget-header .ui-state-activ {
background: #f5f5f5!important;
 }

 .generaltable tbody tr:hover, table.flexible tbody tr:hover {
    background-color:#32312e;
    color: #f5f5f5!important;
}

.hcol-hov {
    background-color: #ded7b5!important;
}

.jumbotron, .nav-tabs, ul.nav.nav-tabs  {
    background-color: #42413e;
    background: #42413e;
}

.text-dark {
    color: #f5f5f5!important;
}

.table-primary, .table-secondary, .table-success, .table-danger, .table-warning, .table-info, .table-light, .table-dark,  .btn-group.course-hdr-chooser span {
    color: #2f3440;
}

.style-a #header_a_head .course-head {
    background: transparent;
}

.choosercontainer #chooseform .options, .choosercontainer #chooseform .moduletypetitle.active {
    background-color: #9b9d9d;
}

.choosercontainer #chooseform .moduletypetitle.active {
    border-color: rgba(10, 10, 10, 0.25);
    border-bottom-color: #9b9d9d;
}

.choosercontainer #chooseform .moduletypetitle.active span {
    color: #291a09;
}

div.section-modchooser a, .course-content .action-menu .dropdown-toggle, a.editsumm {
    background: #474541;
    border-color: rgba(10, 10, 10, 0.25);
    color: #ffdaa9 !important;
}

#boost-campus-course-settings .nav-tabs,
#boost-campus-activity-settings .nav-tabs {
    background: none;
}

#boost-campus-course-settings .nav-tabs .nav-link,
#boost-campus-activity-settings .nav-tabs .nav-link {
    border-color: #424242 #999;
	background-color: #666;
	color: #333;
}

#boost-campus-course-settings .nav-tabs .nav-link:hover, 
#boost-campus-course-settings .nav-tabs .nav-link:focus,
#boost-campus-activity-settings .nav-tabs .nav-link:hover, 
#boost-campus-activity-settings .nav-tabs .nav-link:focus {
    background-color: #838381;
	color: #333;
}

#boost-campus-course-settings .nav-tabs .nav-link.active,
#boost-campus-course-settings .nav-tabs .nav-link.active:hover,
#boost-campus-activity-settings .nav-tabs .nav-link.active,
#boost-campus-activity-settings .nav-tabs .nav-link.active:hover {
    background-color: #6f6e6a;
    border-color: solid 1px #6f6e6a;
	color: #333;
}

body.path-mod-mail #mail_container .btn-with, 
body.path-mod-mail #mail_container .btn-with:hover {
	color: #f5f5f5;
	background-color: #424242;
}

body.path-mod-mail #mail_container .btn-outline-primary {
	background-color: transparent !important;
}
body.path-mod-mail #mail_container .btn-outline-primary:hover {
	background-color: #2f2d29 !important;
	color: #847b62;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    border: 1px solid #333 !important;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.selectize-input {
    border: 1px solid #333 !important;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: #3a3a38;
    color: #f5f5f5;
}

.selectize-dropdown .optgroup {
    color: #f5f5f5;
    background: #3a3a38;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #f5f5f5;
}

.selectize-dropdown:hover{
    color: #f5f5f5;
    background: #848889;
}
.selectize-dropdown:focus{
    color: #f5f5f5;
    background: #848889;
}
.selectize-dropdown:hover .optgroup:hover .option:hover{
    color: #f5f5f5;
    background: #848889;
}
.selectize-dropdown:focus .optgroup:focus .option:focus{
    color: #f5f5f5;
    background: #848889;
}

.selectize-dropdown .optgroup-header {
    color: #f5f5f5;
    background: #3a3a38;
}

.selectize-control.multi .selectize-input > div {
    color: #f5f5f5;
    background: #848889;
}

body.path-mod-mail #mail_container .btn-outline-primary:active,
body.path-mod-mail #mail_container .btn-outline-primary:focus {
    background-color: #f0f8ff;
	color: #247dcc;
    border-color: #ced4da;
}

body.path-mod-mail #mail_container .mail-list-toolbar .btn-primary {
	background-color: #247dcc;
    border-color: #247dcc;
}

body.path-mod-mail #mail_container .dropdown-item.active {
	color: #f5f5f5;
	background-color: #999;
}

body.path-mod-mail #mail_container .dropdown-item:active {
    color: #f5f5f5;
    text-decoration: none;
    background-color: #247dcc;
}

body.path-mod-mail #mail_container .btn-outline-primary:hover {  
	background-color: #f0f8ff;
    border-color: #ced4da;
	color: #848889;
}

body.path-mod-mail #mail_container .list-group-item-primary {
	background-color: #247dcc;
	color: #f5f5f5;
}

body.path-mod-mail #mail_container .list-group-item-primary .mm-preview {
	color: #f5f5f5;
}

body.path-mod-mail .mm-message .quote {
	background-color: #9e9e9e;
	padding: .75rem !important;
}

.hsuforum-thread {
	background-color: transparent;
}

/*Scheduler plugin */
.path-mod-scheduler div.commandbar {
    background-color: #757575;
}

.path-mod-scheduler .maildisplay {
    background: #757575;
}