{{#summary}}
    <a href="#" title="{{#str}} coursesummarybuttontitle, theme_urcourses_default{{/str}}" class="small" data-action="show-course-summary" data-course-id="{{{id}}}"">
        <i class="fa fa-list-ul"></i>
        <span class="course-summary-link" data-action="course-info">
            {{#str}} coursesummarybuttontext, theme_urcourses_default {{/str}}
        </span>
    </a>
{{/summary}}