{{#visible}}
    <a href="{{viewurl}}" tabindex="-1" class="{{$classouter}}{{/classouter}}">
        <div class="{{$classinner}}{{/classinner}}" style='background-image: url("{{{courseimage}}}");'>
            <span class="sr-only">{{fullname}}</span>
        </div>
    </a>
{{/visible}}
{{^visible}}
    {{#canviewhidden}}
        <a href="{{viewurl}}" tabindex="-1" class="{{$classouter}}{{/classouter}}">
            <div class="{{$classinner}}{{/classinner}}" style='background-image: url("{{{courseimage}}}");'>
                <span class="sr-only">{{fullname}}</span>
            </div>
        </a>
    {{/canviewhidden}}
    {{^canviewhidden}}
        <div tabindex="-1" class="{{$classouter}}{{/classouter}}">
            <div class="{{$classinner}}{{/classinner}}" style='background-image: url("{{{courseimage}}}");'>
                <span class="sr-only">{{fullname}}</span>
            </div>
        </div>
    {{/canviewhidden}}
{{/visible}}