{{< theme_boost_union/columns2 }}
    {{$navbar_logo}}
        <img src="{{{fnuclogo}}}" alt="{{#str}} pluginname, theme_urcourses_default {{/str}}"/>
    {{/navbar_logo}}
{{/ theme_boost_union/columns2 }}