{{< theme_urcourses_default/feedback_modal_form }}
    {{$heading}}
        {{#str}} feedback_modal_suggestion, theme_urcourses_default {{/str}}
    {{/heading}}
    {{$labeltext}}
        {{#str}} feedback_modal_suggestion_label, theme_urcourses_default {{/str}}
    {{/labeltext}}
{{/ theme_urcourses_default/feedback_modal_form }}