<div>
    <p>
        {{#str}} feedback_modal_body, theme_urcourses_default {{/str}}
    </p>
</div>
<div>
    <button id="problem_button" type="button" class="btn btn-primary btn-block">
        {{#str}} feedback_modal_problem, theme_urcourses_default {{/str}}
    </button>
    <button id="suggestion_button" type="button" class="btn btn-primary btn-block">
        {{#str}} feedback_modal_suggestion, theme_urcourses_default {{/str}}
    </button>
</div>