<div class="popover-region collapsed" data-region="popover-region-feedback">
    <a
        class="nav-link popover-region-toggle position-relative icon-no-margin"
        href="{{{url}}}"
        aria-label="{{#str}} feedback_label, theme_urcourses_default {{/str}}"
        title="{{#str}} feedback_label, theme_urcourses_default {{/str}}"
        role="button"
    >
        {{#pix}} feedback, theme_urcourses_default{{/pix}}
    </a>
</div>