{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template urcourses_default/header_course_style_chooser

    This template renders the course header style chooser buttons.

}}

<div class="col-md-6" id="theme_urcourses_default_header_course_enrolment_{{uniqid}}">
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <i class="fa fa-plug" aria-hidden="true"></i>
      Enrolment: TBD
    </button>
    <div class="dropdown-menu dropdown-menu-right">
    <h6 class="dropdown-header">Select a Term</h6>
    
    <div class="dropdown-divider"></div>
    
    <button class="dropdown-item btn_enrolterm ml-1" type="button" id="ss2020">Spring/Summer 2020</button>
    <button class="dropdown-item btn_enrolterm ml-1" type="button" id="f2020">Fall 2020</button>
    <button class="dropdown-item btn_enrolterm ml-1" type="button" id="w2021">Winter 2021</button>
	
	<!--
	      <button class="dropdown-item ml-1" type="button">XMPL 100 (All)</button>
	  
	      <h6 class="dropdown-header ml-1">By Section</h6>
	      <button class="dropdown-item ml-3" type="button">XMPL 100-001</button>
	      <button class="dropdown-item ml-3" type="button">XMPL 100-002</button>
	      <button class="dropdown-item ml-3" type="button">XMPL 100-003</button>
	  	<div class="dropdown-divider"></div>
	  
	        <button class="dropdown-item ml-1" type="button">XMPL 110 (All)</button>
	  
	        <h6 class="dropdown-header ml-1">By Section</h6>
	        <button class="dropdown-item ml-3" type="button">XMPL 110-001</button>
	        <button class="dropdown-item ml-3" type="button">XMPL 110-002</button>
	  	  <div class="dropdown-divider"></div>
	  
	          <button class="dropdown-item ml-1" type="button">XMPL 200-001</button>
		-->
    </div>
  <!--<div class="btn-group ml-1">
  	  <button type="button" class="btn btn-info"><i class="fa fa-plug" aria-hidden="true"></i> Archived</button>
    </div>-->
</div>
<!--<select class="custom-select section-dropdown" id="course_enrol">
                    <option selected="selected">
                        Enrolment: TBD
                    </option>
					<optgroup label="Attach CRN">
                    	<optgroup label="XMPL 100">
						<option>
	                        XMPL 100 (All)
	                    </option>
						<optgroup label="     By Section">
							<option>
		                        XMPL 100-001
		                    </option>
		                    <option>
		                        XMPL 100-002
		                    </option>
		                    <option>
		                        XMPL 100-003
		                    </option>
						</optgroup>
						</optgroup>
						<optgroup label="XMPL 110">
							<option>
		                        XMPL 110 (All)
		                    </option>
							<optgroup label="     By Section">
								<option>
			                        XMPL 110-001
			                    </option>
			                    <option>
			                        XMPL 110-002
			                    </option>
							</optgroup>
						</optgroup>
	                	<optgroup label="XMPL 200">
	                    <option>
	                        XMPL 200-001
	                    </option>
					</optgroup>
				</optgroup>
		        </select>--></div>

{{#js}}
    require(['theme_urcourses_default/course_enrolment'], function(main) {
        main.init('#theme_urcourses_default_header_course_enrolment_{{uniqid}}', {{courseid}});
    });
{{/js}}