<img
    class="instr-avatar img-rounded"
    style="border-radius: 0.25em"
    src="{{{picturesrc}}}"
    height="24"
    width="24"
    title="{{#str}}instructorpicture_alt, theme_urcourses_default, {{fullname}}{{/str}}"
    alt="{{#str}}instructorpicture_alt, theme_urcourses_default, {{fullname}}{{/str}}"
/>