<div class="teacherlist">
    {{#instructors}}
        <a href="{{{instructorurl}}}">
            {{>theme_urcourses_default/header_instructor_picture}}
            <span>{{fullname}}</span>
        </a>
    {{/instructors}}
</div>