{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template urcourses_default/header_course_style_chooser

    This template renders the course header style chooser buttons.

}}
<div class="col-md-6" id="theme_urcourses_default_header_course_request_{{uniqid}}">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="btn_courserequest" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-wrench" aria-hidden="true"></i>
      Course tools  
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item ml-1" id="btn_editdescription" type="button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit course description</button>
      <div class="dropdown-divider"></div>
       {{^isnursing}}
        <button class="dropdown-item ml-1" id="btn_duplicate" type="button"><i class="fa fa-files-o" aria-hidden="true"></i> Duplicate this course</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item ml-1" id="btn_new" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Create new course</button>
        <div class="dropdown-divider"></div>
      {{/isnursing}}
      <button class="dropdown-item ml-1" id="btn_student_account" type="button" data-value={{studentaccount}} data-username = "{{username}}" ><i class="fa fa-user"  aria-hidden="true"></i> 
          {{#studentaccount}} Modify test student {{/studentaccount}}
          {{^studentaccount}} Create test student {{/studentaccount}}
      </button>
      {{#studentaccount}}
        <div class="dropdown-divider"></div>
     
          <button class="dropdown-item ml-1" id="btn_student_enrol" type="button" data-value={{studentenrolled}} data-username = "{{username}}"><i class="fa fa-user-plus" aria-hidden="true"></i> 
              {{^studentenrolled}}Enrol test student{{/studentenrolled}}
              {{#studentenrolled}}Unenrol test student{{/studentenrolled}}
          </button>
      {{/studentaccount}}
    </div>
  </div>
</div>

{{#js}}
    require(['theme_urcourses_default/course_request'], function(main) {
        main.init('#theme_urcourses_default_header_course_request_{{uniqid}}', {{{course}}}, {{{templatelist}}},{{{categories}}});
    });
{{/js}}