{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template urcourses_default/modal_course_action_content
    This template renders a modal form for either a new course to be created or a course to be duplicated
}}
<div class="d-flex justify-content-center">
  <div id= "mainspinner" class="spinner-border " role="status"style="display: none;" >
    <span class="sr-only">Loading...</span>
    </div>
</div>
<div id="infoholder">
    <div id="course_tools_modal_content">
        {{#templatenew}}   
            <div data-role="templateholder" class = "list-group overflow-auto" style = "height:148px" >
                {{#istemplatelist}}
                        {{#templatelist}}
                            <div data-role = "templateselect" class="tmpl-label list-group-item list-group-item-action " id = '{{{id}}}'>
                                <h6>
                                    <img class="img-thumbnail" style="background-image:url({{{courseimage}}}); background-size:cover; background-position:center; width: 40px; height: 40px">
                                    {{{fullname}}}

                                    <button data-role="info_button" type="button" class="btn btn-dark float-right" id="description_{{{id}}}">Info</button>
                                </h6>
                            </div>
                        {{/templatelist}}
                        <div data-role = "templateselect" class="tmpl-label list-group-item list-group-item-action active" id = "0" >
                            <h6>Default Course</h6>
                            <span><small>Basic course template. No activites included </small></span>
                        </div>
                {{/istemplatelist}}
                {{^istemplatelist}}
                    <div data-role = "templateselect" class="tmpl-label list-group-item list-group-item-action active" id = "0" >
                        <h6>Default Course</h6>
                        <p><small>Basic course template. No activites included </small></p>
                    </div>
                {{/istemplatelist}}
            </div>
        {{/templatenew}}
        <br><br>
        <div class="form-control-feedback invalid-feedback" id="error_course_tools_coursename"></div> 
        <label  class="col-form-label d-inline " for="coursename">Course Full Name:</label>
        <input maxlength="254" class="form-control " type="text" id="course_tools_coursename" name="course_tools_coursename">
        <br>
        <div class="form-control-feedback invalid-feedback" id="error_course_tools_shortname"></div> 
        <label class="col-form-label d-inline " for="shortname">Course Short Name:</label>
        <input maxlength="254" class="form-control " type="text" id="course_tools_shortname" name="course_tools_shortname">
        <br>

        <label  class="col-form-label d-inline " for="category">Course Category:</label>
        <br> 
        <div class="form-control-feedback invalid-feedback" id="error_course_tools_category"></div>
        <select class="custom-select" id="course_tools_category" >
            {{#categories}}
                <option value = '{{id}}'>{{{name}}}</option>
            {{/categories}}
        </select>
        <br><br>
        {{> theme_urcourses_default/modal_course_action_date}}
    </div>
</div>
