{{#isinstructor}}
    <div class="modal-help-links alert alert-warning p-1 pt-3">
        <!--<h6 class="mt-2" style="font-size: 14px;">Assistance at a glance...</h6>-->
        <ul class="ml-3 row fa-ul" style="font-size: 13px;">
            <li class=" col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-desktop"></i>
                    </span>
                    <a  href="https://www.uregina.ca/remote-teaching/" target="_blank">
                        Remote Teaching
                    </a>  
                </li>
            <li class=" col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-laptop"></i>
                    </span>
                    <a  href="https://www.uregina.ca/remote-learning/" target="_blank">
                        Remote Learning
                    </a>  
                </li>
            <li class="col-xs ml-5 pl-0">
                <span class="fa-li">
                    <i class="fa fa-envelope-o"></i>
                </span>
                <a href="https://www.uregina.ca/is/contact/index.html" target="_blank">
                    Contact IT Support
                </a>
            </li>    

              <li class="col-xs ml-5 pl-0">
                <span class="fa-li">
                    <i class="fa fa-envelope-o"></i>
                </span>
                <a href="https://www.uregina.ca/cce/student-services/no-admission" target="_blank">
                    Contact Student Services Non-credit
                </a>
            </li>          
         
        
        </ul>
    </div>
{{/isinstructor}}
{{^isinstructor}}
    <div class=" modal-help-links alert alert-warning p-1 pt-3">
        <!-- <h6 class="mt-0">Assistance at a glance...</h6> -->
            <ul class="  row fa-ul " style="font-size: 13px;">
                <li class=" col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-laptop"></i>
                    </span>
                    <a  href="https://www.uregina.ca/remote-learning/" target="_blank">
                        Remote Learning
                    </a>  
                </li> 
                <li class=" col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <a  href="https://www.uregina.ca/is/contact/index.html" target="_blank">
                        Contact IT Support
                    </a>  
                </li>  
                 <li class="col-xs ml-5 pl-0">
                <span class="fa-li">
                    <i class="fa fa-envelope-o"></i>
                </span>
                <a href="https://www.uregina.ca/cce/student-services/no-admission" target="_blank">
                    Contact Student Services Non-credit
                </a>
            </li>         
            </ul> 
    </div>
{{/isinstructor}}
