<div id="breadcrumbs"> 
    <ol class="breadcrumb bg-secondary modal-help-breadcrumbs">
        {{#breadcrumbs}}
            <li class="breadcrumb-item {{#active}}active{{/active}}">
                {{^active}} <a href="{{{url}}}" data-target="{{{target}}}">{{name}}</a> {{/active}}
                {{#active}} {{name}} {{/active}}
            </li>
        {{/breadcrumbs}}
    </ol>   
</div>

{{$content}} {{/content}}