{{< core/modal }}
    {{$title}}
    </h5>
    <select id="test_select">
        <option value="" selected disabled hidden>How do I...</option>
        <option value="A">Abc</option>
        <option value="B">Bcd</option>
        <option value="C">Cde</option>
        <option value="D">Def</option>
        <option value="E">Efg</option>
        <option value="F">Fgh</option>
        <option value="G">Ghi</option>
	</select>
    <h5>
    {{/title}}

    {{$body}}
        Temp body
    {{/body}}

    {{$footer}}
        Temp footer
    {{/footer}}
{{/ core/modal }}
