{{#isinstructor}}
    <div class="modal-help-links alert alert-warning p-1 pt-3">
        <!--<h6 class="mt-2" style="font-size: 14px;">Assistance at a glance...</h6>-->
        <ul class="ml-3 row fa-ul" style="font-size: 13px;">
            <li class=" col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-desktop"></i>
                    </span>
                    <a  href="https://www.uregina.ca/remote-teaching/" target="_blank">
                        Remote Teaching
                    </a>  
                </li>
            <li class=" col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-laptop"></i>
                    </span>
                    <a  href="https://www.uregina.ca/remote-learning/" target="_blank">
                        Remote Learning
                    </a>  
                </li>
           <li class="  col-xs ml-5 pl-0">
                <span class="fa-li">
                    <i class="fa fa-ticket"></i>
                </span>
                <a href="https://cas.cc.uregina.ca/cas/login?service=https%3A%2F%2Fursource.uregina.ca%2Fis%2Fforms%2Fticket.html" target="_blank">
                    UR Courses ticket
                </a>
            </li>
            <li class=" col-xs ml-5 pl-0">
                <span class="fa-li">
                    <i class="fa fa-pencil-square-o"></i>
                </span>
                <a href="https://www.uregina.ca/remote-teaching/exams.html" target="_blank">
                    Exam Prep and Support
                </a>
            </li>
              <li class="col-xs ml-5 pl-0">
                <span class="fa-li">
                    <i class="fa fa-ticket"></i>
                </span>
                <a href="https://cas.cc.uregina.ca/cas/login?service=https%3A%2F%2Fursource.uregina.ca%2Fis%2Fforms%2Furcourses.html" target="_blank">
                     Request a feature
                </a>
            </li>
            <li class="col-xs ml-5 pl-0">
                <span class="fa-li">
                    <i class="fa fa-envelope-o"></i>
                </span>
                <a href="https://www.uregina.ca/is/contact/index.html" target="_blank">
                    Contact IT Support
                </a>
            </li>           
         
        
        </ul>
    </div>
{{/isinstructor}}
{{^isinstructor}}
    <div class="alert alert-warning p-1 pt-3">
        <!-- <h6 class="mt-0">Assistance at a glance...</h6> -->
            <ul class="  row fa-ul " style="font-size: 13px;">
                <li class=" col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-laptop"></i>
                    </span>
                    <a  href="https://www.uregina.ca/remote-learning/" target="_blank">
                        Remote Learning
                    </a>  
                </li>
                <li class=" col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <a  href="https://www.uregina.ca/is/contact/index.html" target="_blank">
                        Contact IT Support
                    </a>  
                </li>
                <li class="col-xs ml-5 pl-0">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <a href="https://www.uregina.ca/is/student/index.html" target="_blank">
                        Student Services
                    </a> 
                </li>           
            </ul> 
    </div>
{{/isinstructor}}
