{{#isinstructor}}
    <div class="alert alert-warning p-2">
        <h6 class="mt-2">Assistance at a glance...</h6>
        <ul class="ml-3 row fa-ul">
            <li class=" col-xs-3 pl-0">
                <span class="fa-li">
                    <i class="fa fa-ticket"></i>
                </span>
                <a href="https://cas.cc.uregina.ca/cas/login?service=https%3A%2F%2Fursource.uregina.ca%2Fis%2Fforms%2Furcourses.html">
                    Send UR Courses <br> Feature Ticket
                </a>
            </li>
            <li class=" col-xs-3 pl-0">
                <span class="fa-li">
                    <i class="fa fa-envelope-o"></i>
                </span>
                <a href="https://www.uregina.ca/is/contact/index.html">
                    Contact IT <br>Support
                </a>
            </li>           
            <li class=" col-xs-3 pl-0">
                <span class="fa-li">
                    <i class="fa fa-ticket"></i>
                </span>
                <a href="https://cas.cc.uregina.ca/cas/login?service=https%3A%2F%2Fursource.uregina.ca%2Fis%2Fforms%2Fticket.html">
                    Send Footprint <br>Ticket
                </a>
            </li>
            <li class=" col-xs-3 pl-0">
                <span class="fa-li">
                    <i class="fa fa-pencil-square-o"></i>
                </span>
                <a href="https://www.uregina.ca/remote-teaching/exams.html">
                    Exam Prep <br> and Support
                </a>
            </li>
        </ul>
    </div>
{{/isinstructor}}
{{^isinstructor}}
    <div class="alert alert-warning d-flex">
        <h6 class="mt-0">Assistance at a glance...</h6> 
        <div class= "d-flex w-75 ml-3">
            <ul class=" row fa-ul ">
                <li class=" ml-5">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <a  href="https://www.uregina.ca/is/contact/index.html">
                        Contact IT Support
                    </a>  
                </li>
                <li class="ml-5 ">
                    <span class="fa-li" style="top:0;">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <a href="https://www.uregina.ca/is/student/index.html">
                        Student Services
                    </a> 
                </li>           
            </ul>
        </div>    
    </div>
{{/isinstructor}}
  
</div>
<div id="breadcrumbs"> 
    <ol class="breadcrumb bg-secondary modal-help-breadcrumbs d-flex">
    
        {{#breadcrumbs}}
            <li class="p-1 breadcrumb-item {{#active}}active{{/active}}">
                {{^active}} <a href="{{{url}}}" data-target="{{{target}}}">{{name}}</a> {{/active}}
                {{#active}} {{{name}}} {{/active}}
            </li>
        {{/breadcrumbs}}
        {{#back}}
            <a href="#" class="ml-auto p-1" data-action="go-back">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
            </a>
        {{/back}}
    </ol>   
</div>
{{$content}} {{/content}}

<span id="modal-help-back-to-top" href="#" class="btn btn-primary btn-lg modal-help-back-to-top float-right position-sticky mb-2" role="button">
    <i class="fa fa-chevron-up fa-2x"></i>
</span>