<p>
    <strong>
        {{#str}} createmodal_email, theme_urcourses_default {{/str}}
    </strong>
    <br>
    <span>
        {{{email}}}
    </span>
</p>
<p>
    <strong>
        {{#str}} createmodal_username, theme_urcourses_default {{/str}}
    </strong>
    <br>
    <span>
        {{username}}
    </span>
</p>
<p>
    <strong>
        {{#str}} resetmodal_date, theme_urcourses_default {{/str}}
    </strong>
    <br>
    <span>
        {{datecreated}}
    </span>
</p>