{{!
@template core_form/element-radio-inline

   Example context (json):
   {
    "element": {
        "id": "id_test_radio0",
        "name": "test_radio_button"
      }
   }

}}
{{!
		Removed form-check-input from input's class attribute after moving input out of
		the label for use with the star ratings. Using this class broke many alignments
		with this form field. Added feedback-control to include the right margin 
		that these inputs need for consistency with other input elements.
		MD, Nov 2025
 }}
<input type="radio" class="feedback-control " {{^element.frozen}}name="{{element.name}}"{{/element.frozen}}
    id="{{element.id}}" value="{{element.value}}"
    {{#element.checked}}checked{{/element.checked}}
    {{#element.frozen}}disabled{{/element.frozen}}
    {{#error}}
        autofocus aria-describedby="{{element.iderror}}"
    {{/error}}
    {{{element.attributes}}} >
<label class="form-check-inline form-check-label {{#error}}has-danger{{/error}} fitem {{#advanced}}advanced{{/advanced}} {{{element.extraclasses}}}" for="{{element.id}}">
{{^element.hardfrozen}}{{#element.frozen}}{{#element.checked}}
    <input type="hidden" name="{{element.name}}" value="{{element.value}}">
{{/element.checked}}{{/element.frozen}}{{/element.hardfrozen}}
    {{{label}}}
</label>
{{#text}}
    <em>{{{.}}}</em>
{{/text}}
{{{helpbutton}}}
<span class="form-control-feedback invalid-feedback" id="{{element.iderror}}" {{#error}} style="display: block;"{{/error}}>
    {{{error}}}
</span>
{{^element.frozen}}
{{#js}}
require(['theme_boost/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}
{{/element.frozen}}
